.file {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  padding: 10px 0px;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

.file:hover {
  transform: scale(1.01);
}

.file__img {
  justify-self: center;
}

.file__date {
  grid-column-start: 5;
  justify-self: center;
}
.file__size{
  grid-column-start: 6;
  justify-self: center;
}
